body {
    background-color: #111111;
}

h1 {
    font-family: sans-serif;
    color: #50f148;

    margin-left: 5%;
    margin-right: 5%;
}

p {
    font-family: sans-serif;
    color: #cccccc;

    padding: 1% 3%;
    margin-left: 7%;
    margin-right: 10%;
    border-left: medium solid #50f148;
}

ul {
    font-family: sans-serif;
    color: #cccccc;

    padding: 1% 3%;
    margin-left: 7%;
    margin-right: 10%;
    border-left: medium solid #50f148;

    list-style: square inside;
}

li {
    margin-top: 10px;
}

li:first-child {
    margin-top: 0;
}

a {
    color: CornflowerBlue;
}

#end_block {
    padding: 0 3%;
    border-left: medium solid DarkOrange;
}

#nav_link {
    text-decoration: none;
}
